@use "~@/src/styles/typography" as typography;
@use "~@/src/styles/colors" as colors;

.button {
  all: unset;
  display: grid;
  place-content: center;
  border-radius: 8px;

  @include typography.label;
  line-height: 100%;

  &.small {
    padding: 8px 16px;
  }

  &.large {
    padding: 16px 32px;
  }

  &.sand {
    color: colors.$sand12;
    background: colors.$sand2;
    border: 1px solid colors.$sand7;
    &:hover {
      border-color: colors.$sand8;
    }
    &:active {
      background: colors.$sand3;
    }
  }

  &.red {
    color: colors.$red12;
    background: colors.$red2;
    border: 1px solid colors.$red7;
    &:hover {
      border-color: colors.$red8;
    }
    &:active {
      background: colors.$red3;
    }
  }

  &.green {
    color: colors.$green12;
    background: colors.$red2;
    border: 1px solid colors.$red7;
    &:hover {
      border-color: colors.$red8;
    }
    &:active {
      background: colors.$red3;
    }
  }

  &.yellow {
    color: colors.$yellow12;
    background: colors.$yellow2;
    border: 1px solid colors.$yellow7;
    &:hover {
      border-color: colors.$yellow8;
    }
    &:active {
      background: colors.$yellow3;
    }
  }

  &.blue {
    color: colors.$blue12;
    background: colors.$blue2;
    border: 1px solid colors.$blue7;
    &:hover {
      border-color: colors.$blue8;
    }
    &:active {
      background: colors.$blue3;
    }
  }
  
  &.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 1rem;
    height: 1rem;
  }
  &.no-label {
    padding: 8px;
  }
}


