$sand1: var(--sand1);
$sand2: var(--sand2);
$sand3: var(--sand3);
$sand4: var(--sand4);
$sand5: var(--sand5);
$sand6: var(--sand6);
$sand7: var(--sand7);
$sand8: var(--sand8);
$sand9: var(--sand9);
$sand10: var(--sand10);
$sand11: var(--sand11);
$sand12: var(--sand12);

$sandA1: var(--sandA1);
$sandA2: var(--sandA2);
$sandA3: var(--sandA3);
$sandA4: var(--sandA4);
$sandA5: var(--sandA5);
$sandA6: var(--sandA6);
$sandA7: var(--sandA7);
$sandA8: var(--sandA8);
$sandA9: var(--sandA9);
$sandA10: var(--sandA10);
$sandA11: var(--sandA11);
$sandA12: var(--sandA12);

$red1: var(--red1);
$red2: var(--red2);
$red3: var(--red3);
$red4: var(--red4);
$red5: var(--red5);
$red6: var(--red6);
$red7: var(--red7);
$red8: var(--red8);
$red9: var(--red9);
$red10: var(--red10);
$red11: var(--red11);
$red12: var(--red12);

$redA1: var(--redA1);
$redA2: var(--redA2);
$redA3: var(--redA3);
$redA4: var(--redA4);
$redA5: var(--redA5);
$redA6: var(--redA6);
$redA7: var(--redA7);
$redA8: var(--redA8);
$redA9: var(--redA9);
$redA10: var(--redA10);
$redA11: var(--redA11);
$redA12: var(--redA12);

$green1: var(--green1);
$green2: var(--green2);
$green3: var(--green3);
$green4: var(--green4);
$green5: var(--green5);
$green6: var(--green6);
$green7: var(--green7);
$green8: var(--green8);
$green9: var(--green9);
$green10: var(--green10);
$green11: var(--green11);
$green12: var(--green12);

$greenA1: var(--greenA1);
$greenA2: var(--greenA2);
$greenA3: var(--greenA3);
$greenA4: var(--greenA4);
$greenA5: var(--greenA5);
$greenA6: var(--greenA6);
$greenA7: var(--greenA7);
$greenA8: var(--greenA8);
$greenA9: var(--greenA9);
$greenA10: var(--greenA10);
$greenA11: var(--greenA11);
$greenA12: var(--greenA12);

$yellow1: var(--yellow1);
$yellow2: var(--yellow2);
$yellow3: var(--yellow3);
$yellow4: var(--yellow4);
$yellow5: var(--yellow5);
$yellow6: var(--yellow6);
$yellow7: var(--yellow7);
$yellow8: var(--yellow8);
$yellow9: var(--yellow9);
$yellow10: var(--yellow10);
$yellow11: var(--yellow11);
$yellow12: var(--yellow12);

$yellowA1: var(--yellowA1);
$yellowA2: var(--yellowA2);
$yellowA3: var(--yellowA3);
$yellowA4: var(--yellowA4);
$yellowA5: var(--yellowA5);
$yellowA6: var(--yellowA6);
$yellowA7: var(--yellowA7);
$yellowA8: var(--yellowA8);
$yellowA9: var(--yellowA9);
$yellowA10: var(--yellowA10);
$yellowA11: var(--yellowA11);
$yellowA12: var(--yellowA12);

$blue1: var(--blue1);
$blue2: var(--blue2);
$blue3: var(--blue3);
$blue4: var(--blue4);
$blue5: var(--blue5);
$blue6: var(--blue6);
$blue7: var(--blue7);
$blue8: var(--blue8);
$blue9: var(--blue9);
$blue10: var(--blue10);
$blue11: var(--blue11);
$blue12: var(--blue12);

$blueA1: var(--blueA1);
$blueA2: var(--blueA2);
$blueA3: var(--blueA3);
$blueA4: var(--blueA4);
$blueA5: var(--blueA5);
$blueA6: var(--blueA6);
$blueA7: var(--blueA7);
$blueA8: var(--blueA8);
$blueA9: var(--blueA9);
$blueA10: var(--blueA10);
$blueA11: var(--blueA11);
$blueA12: var(--blueA12);
