.select-trigger {
    /* Color Theme=Light, Color=Sand, State=Default */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 16px;
    gap: 8px;

    background: var(--sand2);
    border: 1px solid var(--sand7);
    border-radius: 12px;

    &.sand {
        background: var(--sand2);
        border: 1px solid var(--sand7);
    }

    &.red {
        background: var(--red2);
        border: 1px solid var(--red7);
    }

    &.green {
        background: var(--green2);
        border: 1px solid var(--green7);
    }

    &.yellow {
        background: var(--yellow2);
        border: 1px solid var(--yellow7);
    }

    &.blue {
        background: var(--blue2);
        border: 1px solid var(--blue7);
    }
}


.select-content {
    max-height: var(--radix-select-content-available-height);
    // max-height: 300px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--sand2);
}


.select-viewport {
    padding: 5px;
}


.select-item {    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 10px;
    user-select: none;
    gap: 8px;

    background: var(--sand2);
    border-radius: 10px;

    &[data-state="unchecked"] {
        padding-left: 34px;
    }

    &[data-state="checked"] {
        background-color: var(--sand5);
    }

    &[data-highlighted] {
        outline: none;
        background-color: var(--sand4);
    }
}


.select-scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: var(--sand2);
    cursor: default;
}